@model List<BowntDAL.tb_FileType>
@{
    ViewBag.Title = "文件管理";
}

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li>
            <a href="#">文件类型列表</a>
        </li>
    </ul>
</div>

<div class="rightinfo">
    <div class="tools">
        <ul class="toolbar">
            <li class="click">
                <a href="@Url.Action("SetFileType")">
                    <span><img src="/images/t01.png" /></span>添加
                </a>
            </li>
        </ul>
    </div>
    <table class="tablelist table">
        <thead>
            <tr>
                <th>文件类别</th>
                <th>语言</th>
                <th class="operation">操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <span>@item.Type</span>
                    </td>
                    <td>
                        <span>@item.tb_Language.Language</span>
                    </td>
                    <td>
                        <a href="@Url.Action("SetTop",new { item.Id})">[置顶]</a>
                        <a href="@Url.Action("SetFileType", new { item.Id })" class="tablelink">[编辑]</a>
                        <a href="javascript:Delete(@item.Id,'@Url.Action("Delete")')" class="tablelink">[删除]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
